/** General styles **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: "Source Code Pro", monospace;
}

:root {
  --main-color: #222;
  --secondary-color: ;
  --thirdly-color: ;
  --thirdly-color--lingt: ;
  --thirdly-color--darker: ;
}

.default-font-style {
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1.2px;
  color: white;
}

/** App **/
.App {
  display: grid;
  place-content: center;
  gap: 1rem;
  text-align: center;
  height: 100dvh;
}

.App__title {
  color: #fff;
}
.App__input {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  color: #fff;
  border: none;
  padding: 2px 3px;
  outline: 1px solid rgba(134, 134, 134, 0.884);
  background-color: rgba(65, 65, 65, 0.884);
}
.App__input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.089);
}
.App__input::placeholder {
  font-size: 1.1rem;
}

/* !! Weather card !! */
.weather {
  width: 220px;
  min-height: 250px;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;

  color: #fff;
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.weather__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;

  width: 210px;

  padding: 10px 5px;
  border-radius: 10px;
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.weather__city {
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.weather__temp {
  font-size: 1.8em;
  color: white;
}
.weather__wind {
  transform: translate(1px, 3px);
  font-size: 0.9rem;
}
.weather-wind-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-wind-container-min,
.weather-wind-container-max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.weather-wind-container-max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.weather-wind-container-min__maxHeading,
.weather-wind-container-min__minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.weather-wind-container-max__minTemp,
.weather-wind-container-max__maxTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

/* !! Error Message !! */
.App > .Error {
  font-size: 0.8rem;
  color: rgb(211, 104, 104);
  line-height: 17px;
  max-width: 250px;
  font-weight: 400;
}
.Error--green {
  position: relative;
  color: rgb(58, 255, 17);
}
.Error--green::after {
  content: "";
  position: absolute;
  animation: infinite dotMoving 2s ease;
}
@keyframes dotMoving {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
.Error {
  font-weight: 500;
}
/* !! Loader !! */

.Loader {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-left-color: transparent;

  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
